<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Login_Winforms.Properties.Settings.ConnectionString"
            connectionString="Data Source=(LOCAL)\INTERMATIK;Initial Catalog=LoginDB;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>